div.itemListContainer>div:nth-of-type(odd) {
    /* background: #f8f9fa; */
    background: #e6e1e1;
} 

.itemInList {
    padding-top: 15px;
    padding-bottom: 15px;
}

.buttonsInList {
    padding-top: 10px;
    padding-bottom: 10px;
}

.listItem {
    margin-left: 10px;
    padding-left: 0px;
}
