div.itemListContainer>div:nth-of-type(odd) {
    /* background: #f8f9fa; */
    background: #e6e1e1;


} 

table {
    width: 100%;
}
/*
table.table tbody tr td,
table.table thead tr th,
table.table thead {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
*/
tr.boldBottom:last-child > td { border-bottom: 2px solid black; }

.boldBorder > td {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
/*
.quarterWidth > td {
    width: 25%;
}
*/
.tableHeader {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}


.itemInList {
    padding-top: 15px;
    padding-bottom: 15px;
}

.buttonsInList {
    padding-top: 10px;
    padding-bottom: 10px;
}

.listItem {
    margin-left: 10px;
    padding-left: 0px;
}

