{% extends 'base.html' %}
{% load extras %}
{% block main %}
</style>
<h1 style="text-align: center;">{{company}}</h1>
<h3 style="text-align: center;">Find an Authorization</h3>
<div class="row">
    <div class="col-sm-12">
        <a href="/" >Home</a> / <a href="/companies/">Companies</a> / Authorized
    </div>

                {% if alert %}
                <div class="row " id = "alertHolder">
                    <div class="col-sm-5 col-9" style="padding-top: 20px;">

                        <div class="myAlert alert alert-{{ error_type }} alert-dismissible fade show" role="alert">

                            {{alert}}

                        </div>
                    </div>
                    <div class="col-sm-7 col-3" style="padding-top: 20px;">
                        <button type="button" class="btn btn-danger close alert-button">Close</button>

                    </div>
                </div>
                {% endif %}

    <div class="col-lg-12">
        <form method ="GET" />
            <input type="hidden"  name="search_type" value="search">
            <div class="col-xs-12">
                <br />
                <div class="input-group">
                    <input type="text" autocomplete="off" style="margin-bottom: 20px"class="form-control" name = "query" id = "search_string" value="{{query}}" placeholder="Search for..">
                    <span class="input-group-btn">
                        <button class="btn btn-success browse-btn-fix" type="submit">Go!</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>

<form method="post">
    <input type="hidden" value="" name="selectedTransfer" id="selectedTransfer"/>
    <input type="hidden" value="" name="selectedShareType" id="selectedShareType"/>
    {% csrf_token %}
<div class="row" id="transferContainer">
<div class="col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Quantity</th>
                            <th>Class</th>
                            <th>Date</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a in authorizedShares %}
                        <tr>
                            <td>{{a.ammountFormatted}}</td>
                            <td>{{a.ShareClass}}</td>
                            <td>{{a.dateFormatted}}</td>
                            <td> 
                    <a class="btn btn-danger" href="/companies/{{company.id}}/authorized?delete=True&auth_id={{a.pk}}" >Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table></div>

        </div>
    <div class="row" id="pagenationHolder">
        <div class="col-sm-3">
            {% if page > 1 %}

            <button class="btn btn-primary" style="margin-top: 20px;" onclick="search({{page|changeValue:'-1'}})" type="button"><</button>
            {% else %}
            <button class="btn btn-primary disabled" type="button" style="margin-top: 20px;"><</button>
            {% endif %}

            {% if hasNextPage == True %}
            <button class="btn btn-primary" style="margin-top: 20px;" onclick="search({{page|changeValue:'1'}})" type="button">></button>
            {% else %}
            <button class="btn btn-primary disabled" style="margin-top: 20px;">></button>
            {% endif %}
        </div> 
    </div>
</form>
{% endblock main %}
{% block scripts %}
<script type = "text/javascript">

            $("table tr:even").css("background", "#faf9ed");
            $("table tr:odd").css("background", "white");

            $(".close").click(function(){
                //$(".alert").hide();
                //$(".alert-button").hide();
                $("#alertHolder").remove();
            });
            setTimeout(function(){
                $(".alert").css("background", "#f0f5f3");
                $(".alert").css("border-color", "black");
                $(".alert").css("color", "black");
            }, 7000);
window.history.pushState(null, '', '/companies/{{company.pk}}/authorized/');
function search(page) {
    search_txt = $("#search_string").val();
    if (search_txt) {
        href = "/companies/{{company.id}}/authorized/?page="+page+"&query="+search_txt;
    } else {
        href = "/companies/{{company.id}}/authorized/?page="+page;
    }
    console.log(href);
    window.location = href;
}

</script>
{% endblock scripts %}
