{% extends 'base.html' %}
{% load extras %}
{% block main %}
<h1 style="text-align: center;">{{company}}</h1>
<h3 style="text-align: center;">Review Deletions</h3>
<div class="row">
    <div class="col-sm-12">
        <a href="/" >Home</a> / <a href="/companies/">Companies</a> / <a href="/companies/{{company.id}}/authorized/">Authorized</a> / Delete
    </div>


    
</div>

<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-12">
            <hr>
        </div>
    </div>
    
    <div class="row">
        <div class="row itemListContainer" id="transferContainer">

                <div class="row listItem">
<div class="col-sm-12">
                    <h3>Authorized to be Deleted</h3>
                </div>
                </div>
            <div class="row listItem">
                <div class="col-sm-12 itemInList">
                    {{authorizedToDelete}}

                </div>

            </div> 
            {% if toDelete %}

                <div class="row listItem">
<div class="col-sm-12">
                    <h3>Transfers to be Deleted</h3>
                    
                </div></div>
            {% endif %}
            {% for item in toDelete %}

            <div class="row listItem">

                <div class="col-sm-12 itemInList">
                    {{item}}

                </div>

            </div> 
            {% endfor %}
            

            

        </div>
        <div class="row">
            <div class="col-sm-12" style="margin-top: 15px;">
                <button class="btn btn-danger" type="submit">Delete</button> 
                <a class="btn btn-warning"  href="/companies/"  >Cancel</a>
            </div>
        </div>
    </div>	
    <div id="selectHolder">
        <select name="transfers" multiple>
            {% for transfer in toDelete %}
            <option selected value="{{transfer.id}}"</option>
            {% endfor %}
        </select>
        <input type="hidden" name="authToDelete" value="{{authorizedToDelete.pk}}">
    </div>
</form>
{% endblock main %}
{% block scripts %}
<script type = "text/javascript">
    $("#selectHolder").hide();
    $('.listItem').not(':has(.buttonsInList)').children('.itemInList').css("padding-top", "0px");
    $("h3").css("margin", "0px");
</script>
{% endblock scripts %}
