{% extends 'base.html' %}
{% load extras %}
{% block main %}
        
<style type="text/css" media="screen">
        body {
            padding: 4%
        }
        #companylist{
            padding-top: 20px;
        }
        .myAlert {
            /* background: linear-gradient(to top right, #1abc9c, #3498db); */
    -moz-transition: background 5s ease-out;
    -o-transition: background 5s ease-out;
    -webkit-transition: background 5s ease-out;    
    transition: background 5s ease-out;    
    -moz-transition: border 5s ease-out;
    -moz-transition: 5s ease-out;
    -o-transition:  5s ease-out;
    -webkit-transition:  5s ease-out;    
    transition:  5s ease-out;   
        }


        </style>
            <h1>Find a Company</h1>
            <div class="row">
                <div class="col-sm-12">
                    <a href="/" >Home</a> / Companies
                </div>

                {% if alert %}
                <div class="row " id = "alertHolder">
                    <div class="col-sm-5" style="padding-top: 20px;">

                        <div class="myAlert alert alert-{{ error_type }} alert-dismissible fade show" role="alert">

                            {{alert}}

                        </div>
                    </div>
                    <div class="col-sm-7" style="padding-top: 20px;">
                        <button type="button" class="btn btn-danger close alert-button">Close</button>

                    </div>
                </div>
                {% endif %}

                <div class="col-lg-12">
                    <form action ="{% url 'companies' %}" method ="GET" />
                        <input type="hidden" name="search_type" value="search">
                        <div class="col-xs-12">
                            <br />
                            <div class="input-group">
                                <input type="text" autocomplete="off" class="form-control" name = "query" id = "search_string" value="{{query}}" placeholder="Search for..">
                            </div>
                        </div>
                        <div class="col-sm-12" style="margin-top: 15px;">
                                    <button class="btn btn-success browse-btn-fix" type="submit">Search</button>
                        </div>
                    </form>
                </div>

            <div class="row itemListContainer" id="companylist">
                {% for company in companies %}
                <div class="row listItem">
                    <div class="col-sm-3 itemInList">
                        {{company}}
                    
                    </div>
                    <div class="col-sm-9 buttonsInList" style="padding-bottom: 10px;">
                        <a  href="/companies/{{company.id}}/issue">Authorize Shares</a> |
                        <a  href="/companies/{{company.id}}/enterTransfer">Enter Transfer</a> |
                        <a  href="/companies/{{company.id}}/registers">Registers</a> |
                        <a  href="/companies/{{company.id}}/shareholdersLedger">Shareholders Ledger</a> |
                        <a  href="/companies/{{company.id}}/changeManagement">Change Management</a> |
                        <a  href="/companies/{{company.id}}/transfers">Transfers</a> |
                        <a  href="/companies/{{company.id}}/authorized">Authorized</a> |
                        <a  href="/certificates/{{company.id}}/">Certificates</a>
                        <!-- class="btn btn-primary" role="button" -->
                    
                    </div>
                </div>
                {% endfor %}
            </div>	
            </div>
<div class="row">
    <div class="col-sm-3">
        {% if page > 1 %}
        <a href="/companies/?page={{ page|changeValue:'-1'}}" style="margin-top: 20px;"
                                                               class="btn btn-primary"><</a>
        {% else %}
        <a href="/companies/?page={{ page|changeValue:'-1'}}" 
           class="btn btn-primary disabled" style="margin-top: 20px;"><</a>
        {% endif %}
        {% if hasNextPage == True %}
        <a href="/companies/?page={{ page|changeValue:'1'}}" style="margin-top: 20px;"
                                                              class="btn btn-primary">></a>
        {% else %}
        <a href="/companies/?page={{ page|changeValue:'1'}}" style="margin-top: 20px;"
                                                              class="btn btn-primary disabled">></a>
        {% endif %}
    </div> 
</div>
{% endblock main %}
{% block scripts %}
        <script type = "text/javascript">
            $(".close").click(function(){
                $(".alert").hide();
                $(".alert-button").hide();
                $("#alertHolder").remove();
            });
            setTimeout(function(){
                $(".alert").css("background", "#f0f5f3");
                $(".alert").css("border-color", "black");
                $(".alert").css("color", "black");
            }, 7000);
            window.history.pushState(null, '', '/companies/');
        </script>
        {% endblock scripts %}
