
                                    <div class="input-group" style="padding-bottom: 20px;">
					<input type="text" class="form-control" name = "query" id = "companySearchString" value="" placeholder="Search for..">
                                        <span class="input-group-btn">
                                        <button class="btn btn-success" onclick="searchCompany()">Go!</button>
                                        </span>
                                    </div>

    {% for company in companies %}
    <div class="row">
        
        <div class="col-sm-3">
            {{company}} 
        </div>
        <div class="col-sm-9" style="padding-bottom: 20px">
            <button class="btn btn-primary"  onclick="selectCompany({{company.id}}, '{{company}}')">select</button> 
        </div>
    </div>
    {% endfor %}
<script type="text/javascript">
function searchCompany() {
    console.log("TEST");
   // $("#form").submit(function (evt) {
    //    return false
   // });

        var search_string = $("#companySearchString").val()
        $.ajax({url: "/ajax/fromCompany/?type=company&query="+search_string, async:false, success: function(result){
            $("#companyHolder").html(result);
            return false;
        }});
        return false;

    return false;
}
    function submitForm() {
    $("#form").submit(function (evt) {
        return true;
    });

    }
    function selectCompany(company_id, company_name) {

        window.company_id=company_id;
        window.company_name = company_name;
        //$("#fromHolder").html('<input type="text" class = "form-control" name = "FromCompany" value = '+company_id+'>');
        $("#companyHolder").html('<input type="hidden" name="company", value='+company_id+'> <p>'+company_name+' selected</p>');
        return false;
    }
  </script>
