<div id="fromHolder" class="row">

                                    <div class="input-group" style="padding-bottom: 20px;">
					<input type="text" class="form-control" name = "query" id = "search_string" value="" placeholder="Search for..">
                                        <span class="input-group-btn">
                                        <button class="btn btn-success" onclick="search()">Go!</button>
                                        </span>
                                    </div>

    {% for company in companies %}
    <div class="row">
        
        <div class="col-sm-3">
            {{company}} 
        </div>
        <div class="col-sm-9" style="padding-bottom: 20px">
            <button class="btn btn-primary"  onclick="select({{company.id}}, '{{company}}')">select</button> 
        </div>
    </div>
    {% endfor %}
</div>
<script type = "text/javascript">
    function select(company_id, company_name) {
        //$("#fromHolder").html('<input type="text" class = "form-control" name = "FromCompany" value = '+company_id+'>');
        if (direction=="To"){
        $("#fromHolder").html('<input type="hidden" name="toCompany", value='+company_id+'> <p> {{direction}} '+company_name+'</p>');
        return false;
        } else {
        $("#fromHolder").html('<input type="hidden" name="fromCompany", value='+company_id+'> <p> {{direction}} '+company_name+'</p>');
        return false;
        }
    }
    function search() {
        var search_string = $("#search_string").val()
        $.ajax({url: "/ajax/fromCompany/?direction="+direction+"&query="+search_string, async:false, success: function(result){
            $("#q3").html(result);
            return false;
        }});
        return false;

    }
</script>
