
{% load extras %}
                
                <div class="row itemListContainer">
                {% for m in managers %}
                   <div class="row listItem">
                       <div class="col-sm-9 col-9 itemInList">
                           {{m}} 
                       </div> 
                       <div class="col-sm-3 col-3 buttonsInList btnsFloatRightContainer">
<button class="selectRemove btn btn-primary"  
                                        linkedId="{{m.id}}"
                                        linkedManager="{% for char in m.str %}{% if char == '"' %}&quot;{% else %}{{char}}{% endif %}{% endfor %}"
                                     type="button">select</button>
                           
                       </div> 
                   </div>
               {% endfor %}
                </div>
<div class="row">
                <div class="col-sm-3">
                    {% if page > 1 %}
                    <button class="btn btn-primary" style="margin-top: 10px;" onclick="searchRemove({{page|changeValue:'-1'}})" type="button"><</button>
                    {% else %}
                    <button class="btn btn-primary disabled" type="button" style="margin-top: 10px;"><</button>
                    {% endif %}

                    {% if hasNextPage == True %}
                    <button class="btn btn-primary" style="margin-top: 10px;" 
                        onclick="searchRemove({{page|changeValue:'1'}})" type="button">></button>
                    {% else %}
                    <button class="btn btn-primary disabled" style="margin-top: 10px;">></button>
                    {% endif %}
                </div> 
            </div>
            <script type="text/javascript">

        $(".selectRemove").click(function(e){
           console.log("TEST");
            var linkedId = $(this).attr("linkedId");
            var linkedManager = $(this).attr("linkedManager");
            selectDeletion(linkedId, linkedManager);

                $('.listItem').not(':has(.buttonsInList)').children('.itemInList').css("padding-top", "0px");
                $('.listItem').not(':has(.buttonsInList)').css("padding-right", "0px");
        });
            </script>
