{% extends 'base.html' %}
{% load extras %}
{% block main %}

        <div class="row">
            <div class="col-sm-12">
        <h1>Select an option</h1>
             <a class="btn btn-primary mb-1" role="button" href="companies">Companies</a>
             <a class="btn btn-primary mb-1" role="button" href="entities">Entities and People</a>
             <a class="btn btn-primary mb-1" role="button" href="shareClass">Share Classes</a>
             <a class="btn btn-primary mb-1" role="button" href="managerRole">Management Roles</a>
            </div>

        </div>
        {% endblock main %}

