{% extends 'base.html' %}
{% load extras %}
{% block main %}
<h1>Link {{entity}} to a Company</h1>
<div class="col-sm-12">
    <a href="/" >Home</a> / <a href="/entities/">People</a> / Link
</div>
<div class="col-sm-12" style="padding-bottom: 20px;">
    <form action ="/link/{{entity.id}}/" method ="GET" />
        <input type="hidden" name="type" value="{{type}}">
        <input type="hidden" name="search" value="True">
        <div class="col-sm-12">
            <br />
            <div class="input-group">
                <input type="text" autocomplete="off" class="form-control" name = "query" id = "search_string" value="{{query}}" placeholder="Search for..">
                <span class="input-group-btn">
                    <button class="btn btn-success browse-btn-fix" type="submit">Go!</button>
                </span>
            </div>
        </div>
    </form>
</div>
</div>

<div class="row">
    <div class="row itemListContainer" id="peopleList">
        {% for e in companies %}
            <div class="row listItem">
                <div class="col-sm-9 col-9 itemInList">
                    {{e}}
                
                </div>
                <div class="col-sm-3 col-3 buttonsInList btnsFloatRightContainer">
                    <a class="btn btn-primary" role="button" href="/link/{{entity.id}}/?company_id={{e.id}}&type={{type}}">Link</a>
                
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="col-sm-3">
                    {% if page > 1 %}
                    <button class="btn btn-primary" style="margin-top: 20px;" onclick="search({{page|changeValue:'-1'}})" type="button"><</button>
                    {% else %}
                    <button class="btn btn-primary disabled" type="button" style="margin-top: 20px;"><</button>
                    {% endif %}

                    {% if hasNextPage == True %}
                    <button class="btn btn-primary" style="margin-top: 20px;" 
                        onclick="search({{page|changeValue:'1'}})" type="button">></button>
                    {% else %}
                    <button class="btn btn-primary disabled" style="margin-top: 20px;">></button>
                    {% endif %}
                </div>
</main>

{% endblock main %}
{% block scripts %}
<script type = "text/javascript">

    function search(page) {
        search_txt = $("#search_string").val();
        if (search_txt) {
            href = "/link/{{entity.id}}/?page="+page+"&query="+search_txt+"&type={{type}}&search=True";
        } else {
            href = "/link/{{entity.id}}/?page="+page+"&type={{type}}";
        }
        console.log(href);
        window.location = href;
    }

</script>
{% endblock scripts %}
