{% extends 'base.html' %}
{% load extras %}
{% block main %}
<h1 style="text-align: center;">{{company}}</h1>
<h3 style="text-align: center;">Change Management</h3>
<div class="row">
    <div class="col-sm-12">

        <a href="/" >Home</a> / <a href="/companies" >Companies</a> / Change Management
        <hr>
    </div>
</div>
{% if alert %}
                    <div class="row" id="alertHolder" style= "padding-bottom: 15px;">
                        <div class="col-sm-5">

                            <div class="alert alert-{{ alert_type }} alert-dismissible fade show" style="margin-bottom: 0px" role="alert">

                                {{alert}}

                            </div>
                        </div>
                        <div class="col-sm-7">
                            <button type="button" class="btn btn-danger close alert-button">Close</button>

                        </div>
                    </div>
                {% endif %}

<div class="row">
   <div class="col-sm-12">
      <button type="button" class="btn btn-primary"
          onclick="addManagement()">Add Management</button> 
      <button type="button" class="btn btn-primary"
          onclick="removeManagement()">Remove Management</button> 
      <hr>
   </div> 
</div>
<div id="removeManagementHolder">
    <form method="POST">

        {% csrf_token %}
        <input type="hidden" value="delete" name="type" id=""/>
                <div class="row">
<div class="col-sm-12">
                    <div class="input-group" style="padding-bottom: 20px;">
                        <input type="text" autocomplete="off" autocomplete="off" class="form-control" name = "query" id = "deleteQuery" value="" placeholder="Search for..">
                        <span class="input-group-btn">
                            <button id="searchRemoveBtn" type="button" class="btn btn-success" onclick="searchRemove(1)" type="button">Go!</button>
                        </span>
                    </div>
                </div></div>
        <div class="row" id="selectDeleteHolder">
                <div class="row itemListContainer">
                    {% for m in managers %}
                    <div class="row listItem">
                        <div class="col-sm-10 itemInList">
                           {{m}} 
                        </div> 
                        <div class="col-sm-2 buttonsInList btnsFloatRightContainer">
<button class="selectRemove btn btn-primary"  
                                        linkedId="{{m.id}}"
                                        linkedManager="{% for char in m.str %}{% if char == '"' %}&quot;{% else %}{{char}}{% endif %}{% endfor %}"
                                     type="button">select</button>
                           
                        </div> 
                    </div>
                    {% endfor %}
                </div>
<div class="row">
                <div class="col-sm-3">
                    {% if page > 1 %}
                    <button class="btn btn-primary" style="margin-top: 20px;" onclick="searchRemove({{page|changeValue:'-1'}})" type="button"><</button>
                    {% else %}
                    <button class="btn btn-primary disabled" type="button" style="margin-top: 20px;"><</button>
                    {% endif %}

                    {% if hasNextPageRemove == True %}
                    <button class="btn btn-primary" style="margin-top: 20px;" 
                        onclick="searchRemove({{page|changeValue:'1'}})" type="button">></button>
                    {% else %}
                    <button class="btn btn-primary disabled" style="margin-top: 20px;">></button>
                    {% endif %}
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <hr>
            </div>
           <div class="col-sm-5" style="padding-top: 20px;">
                <div class="input-group">
                    <span class="input-group-text">Date</span> 
                    <input type="date" class="form-control" value="" name="date" id=""/> 
                    <input type="time" class="form-control" value="" name="time" step="1" id=""/> 
                </div>
           </div> 
        </div>
        <div class="row">
           <div class="col-sm-12"> 
                <button id = "removeBtn" class="btn btn-danger browse-btn-fix" 
                    style="margin-top: 20px" type="submit" >Remove</button>
                <a class="btn btn-warning browse-btn-fix" href="/companies/" style="margin-top: 20px;" >Cancel</a>
           </div> 
        </div>
    </form>
</div>
<div id="addManagementHolder">
    <form method="POST">

        <input type="hidden" value="add" name="type" id=""/>
        {% csrf_token %}
        <div class = "row entityHolder" id="entityHolder">
            <div class="col-sm-12">
                <div class="input-group" style="padding-bottom: 20px;">
                    <input type="text" autocomplete="off" autocomplete="off" class="form-control" name = "query" id = "query_text" value="" placeholder="Search for..">
                    <span class="input-group-btn">
                        <button id = "searchBtn" class="btn btn-success" onclick="search(1)" type="button">Go!</button>
                    </span>
                </div>

            </div>
            <div style="padding-right: 36px;" id="searchHolder">
<div class="row itemListContainer entityHolder"  >
                {% for participant in participants %}
                    {% if participant.LinkedPerson %}
                        <div class="row listItem">
                            <div class="col-sm-10 itemInList">
                                {{participant.LinkedPerson}}
                            </div>    
                            
                            <div class="col-sm-2 buttonsInList btnsFloatRightContainer">
                                <button class="selectAdd btn btn-primary"  
                                        linkedId="{{participant.LinkedPerson.id}}"
                                        linkedPerson="{% for char in participant.LinkedPerson.Name %}{% if char == '"' %}&quot;{% else %}{{char}}{% endif %}{% endfor %}"
                                        _type = "Person" type="button">select</button> 
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            
            </div>
            <div class="row">
                <div class="col-sm-3">
                    {% if page > 1 %}
                    <button class="btn btn-primary" style="margin-top: 20px;" onclick="search({{page|changeValue:'-1'}})" type="button"><</button>
                    {% else %}
                    <button class="btn btn-primary disabled" type="button" style="margin-top: 20px;"><</button>
                    {% endif %}

                    {% if hasNextPageAdd == True %}
                    <button class="btn btn-primary" style="margin-top: 20px;" 
                        onclick="search({{page|changeValue:'1'}})" type="button">></button>
                    {% else %}
                    <button class="btn btn-primary disabled" style="margin-top: 20px;">></button>
                    {% endif %}
                </div> 
            </div>
            </div>
        </div>
            <div id="selectedHolder" class="row">

            </div>


        <div class="row" style="">
            <div class="col-sm-12">
                <hr>
            </div>
            <div class="col-sm-4">
                <div class="input-group mb-3">
                    <span class="input-group-text">Role</span>
                    <select name="role" id="some_name" class="form-control">
                        {% for role in roles %}
                            <option value="{{role.pk}}">
                            {{role}}
                            </option>
                        {% endfor %}

                    </select> 
                </div>

            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-text">Date</span> 
                    <input type="date" class="form-control" value="" name="date" id=""/> 
                    <input type="time" class="form-control" value="" name="time" step="1" id=""/> 
                </div>
                
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <button id="submitBtnAdd" class="btn btn-success browse-btn-fix" type="submit" >Submit</button>
                <a class="btn btn-warning browse-btn-fix" href="/companies/"  >Cancel</a>
            </div> 
        </div>
    </form>
</div>
    {% endblock main %}
    {% block scripts %}

    <script type="text/javascript">
            $(".close").click(function(){
                //$(".alert").hide();
                //$(".alert-button").hide();
                $("#alertHolder").remove();

               // $(".alert").fadeOut(500);
                //$(".alert-button").fadeOut(500);
            });
var doc = document;
var type = "";
function enterSearch(event){
    if (event.key === "Enter"){
        event.preventDefault();
        if (type == "add") {
        document.getElementById("searchBtn").click();
        } else {
        document.getElementById("searchRemoveBtn").click();
        }
    }
}
function submitAdd(event) {
    if (event.key === "Enter"){
        event.preventDefault();
        document.getElementById("submitBtnAdd").click();
    }
}
function submitRemove(event) {
    if (event.key === "Enter"){
        event.preventDefault();
        document.getElementById("removeBtn").click();
    }
}

doc.addEventListener("keypress", enterSearch)

        $(".selectAdd").click(function(e){
           console.log("TEST");
            var linkedId = $(this).attr("linkedId");
            var linkedPerson = $(this).attr("linkedPerson");
            var type = $(this).attr("_type");
            selectPerson(linkedId, linkedPerson, type);
        });
        $(".selectRemove").click(function(e){
           console.log("TEST");
            var linkedId = $(this).attr("linkedId");
            var linkedManager = $(this).attr("linkedManager");
            selectDeletion(linkedId, linkedManager);
        });
        $("#addManagementHolder").hide();
        $("#removeManagementHolder").hide();
        function addManagement() {

            type = "add";
            $("#alertHolder").remove();
            $("#addManagementHolder").show();
            var visible = $("removeManagementHolder").is(":hidden");
            console.log(visible);
            if (visible == false) {
                $("#removeManagementHolder").hide();
            }

        }
        function removeManagement() {

            type="remove";
            $("#alertHolder").remove();
            $("#removeManagementHolder").show();
            var visible = $("addManagementHolder").is(":hidden");
            console.log(visible);
            if (visible == false) {
                $("#addManagementHolder").hide();
            }
        }
        function selectDeletion(m_id, m){
            document.removeEventListener("keypress", enterSearch);
            doc.addEventListener("keypress", submitRemove)
             let txt = `<input type="hidden" name="deletedManager" value="${m_id}">
                        <div class="row itemListContainer"><div class="row listItem"><div class="col-sm-12 itemInList" >${m} selected</div></div></div>`;
            $("#selectDeleteHolder").html(txt);
        }
        function selectPerson(participant_id, participant_name, type){

            document.removeEventListener("keypress", enterSearch);
            doc.addEventListener("keypress", submitAdd)
            let txt = `<input type = "hidden" 
            name = "person_id" value = "${participant_id}"><div class="row itemListContainer"><div class="row listItem"><div class="col-sm-12 itemInList" >${participant_name} selected</div></div></div>`;
            $("#selectedHolder").html(txt);
            $(".entityHolder").toggle();
        }
        function searchRemove(page=1) {
            var search_string = $('#deleteQuery').val();
            $.ajax({url: '/companies/{{company.id}}/changeManagement?type=search&delete=True&query=' + search_string +"&page="+page, async:false, success: function(result){

            $("#selectDeleteHolder").html(result);
            }});
        }
function search(page=1) {
    var search_string = $('#query_text').val();
    $.ajax({url: '/companies/{{company.id}}/changeManagement?type=search&query=' + search_string+"&page="+page, async:false, success: function(result){
        $("#searchHolder").html(result);
    }});
}
window.history.pushState(null, '', '/companies/{{company.id}}/changeManagement/');
    </script>
    {% endblock scripts %}
