{% extends 'base.html' %}
{% load extras %}
{% block main %}
<h1 style="text-align: center;">{{company}}</h1>
<h3 style="text-align: center;">Change Management</h3>
<div class="row">
    <div class="col-sm-12">

        <a href="/" >Home</a> / <a href="/companies" >Companies</a> / Change Management
        <hr>
    </div>
</div>
<div class="row">
   <div class="col-sm-12">
      <button type="button" class="btn btn-primary"
          onclick="addManagement()">Add Management</button> 
      <button type="button" class="btn btn-primary"
          onclick="removeManagement()">Remove Management</button> 
      <hr>
   </div> 
</div>
<div id="removeManagementHolder">
    <form method="POST">

        {% csrf_token %}
        <input type="hidden" value="delete" name="type" id=""/>
        <div class="row" id="selectDeleteHolder">
                <div class="col-sm-12">
                    <div class="input-group" style="padding-bottom: 20px;">
                        <input type="text" class="form-control" name = "query" id = "deleteQuery" value="" placeholder="Search for..">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success" onclick="searchRemove(1)" type="button">Go!</button>
                        </span>
                    </div>
                </div>
                <div class="row itemListContainer">
                    {% for m in managers %}
                    <div class="row listItem">
                        <div class="col-sm-4 itemInList">
                           {{m}} 
                        </div> 
                        <div class="col-sm-8 buttonsInList">
                          <button type="button" class="btn btn-primary" 
                                                 onclick="selectDeletion({{m.id}},'{{m}}')">Select</button> 
                        </div> 
                    </div>
                    {% endfor %}
                </div>
<div class="row" style="background-color: white">
                <div class="col-sm-3">
                    {% if page > 1 %}
                    <button class="btn btn-primary" style="margin-top: 20px;" onclick="searchRemove({{page|changeValue:'-1'}})" type="button"><</button>
                    {% else %}
                    <button class="btn btn-primary disabled" type="button" style="margin-top: 20px;"><</button>
                    {% endif %}

                    {% if hasNextPageRemove == True %}
                    <button class="btn btn-primary" style="margin-top: 20px;" 
                        onclick="searchRemove({{page|changeValue:'1'}})" type="button">></button>
                    {% else %}
                    <button class="btn btn-primary disabled" style="margin-top: 20px;">></button>
                    {% endif %}
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <hr>
            </div>
           <div class="col-sm-5" style="padding-top: 20px;">
                <div class="input-group">
                    <span class="input-group-text">Date</span> 
                    <input type="date" class="form-control" value="" name="date" id=""/> 
                    <input type="time" class="form-control" value="" name="time" step="1" id=""/> 
                </div>
           </div> 
        </div>
        <div class="row">
           <div class="col-sm-12"> 
                <button class="btn btn-danger browse-btn-fix" 
                    style="margin-top: 20px" type="submit" >Remove</button>
           </div> 
        </div>
    </form>
</div>
<div id="addManagementHolder">
    <form method="POST">

        <input type="hidden" value="add" name="type" id=""/>
        {% csrf_token %}
        <div class = "row entityHolder" id="entityHolder">
            <div class="col-sm-12">
                <div class="input-group" style="padding-bottom: 20px;">
                    <input type="text" class="form-control" name = "query" id = "query_text" value="" placeholder="Search for..">
                    <span class="input-group-btn">
                        <button class="btn btn-success" onclick="search(1)" type="button">Go!</button>
                    </span>
                </div>

            </div>
            <div class="row itemListContainer entityHolder" id = "searchHolder" >
                {% for participant in participants %}
                    {% if participant.LinkedPerson %}
                        <div class="row listItem">
                            <div class="col-sm-3 itemInList">
                                {{participant.LinkedPerson}}
                            </div>    
                            
                            <div class="col-sm-9 buttonsInList">
                                <button class="btn btn-primary"  
                                        onclick="selectPerson({{participant.LinkedPerson.id}},
                                        '{{participant.LinkedPerson}}','Person')" type="button">select</button> 
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            <div class="row" style="background-color: white">
                <div class="col-sm-3">
                    {% if page > 1 %}
                    <button class="btn btn-primary" style="margin-top: 20px;" onclick="search({{page|changeValue:'-1'}})" type="button"><</button>
                    {% else %}
                    <button class="btn btn-primary disabled" type="button" style="margin-top: 20px;"><</button>
                    {% endif %}

                    {% if hasNextPageAdd == True %}
                    <button class="btn btn-primary" style="margin-top: 20px;" 
                        onclick="search({{page|changeValue:'1'}})" type="button">></button>
                    {% else %}
                    <button class="btn btn-primary disabled" style="margin-top: 20px;">></button>
                    {% endif %}
                </div> 
            </div>
            </div>
            
        </div>
        <div class="row">
            <div id="selectedHolder" class="col-lg-12">

            </div>

        </div>

        <div class="row" style="">
            <div class="col-sm-12">
                <hr>
            </div>
            <div class="col-sm-4">
                <div class="input-group mb-3">
                    <span class="input-group-text">Role</span>
                    <select name="role" id="some_name" class="form-control">
                        {% for role in roles %}
                            <option value="{{role.pk}}">
                            {{role}}
                            </option>
                        {% endfor %}

                    </select> 
                </div>

            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-text">Date</span> 
                    <input type="date" class="form-control" value="" name="date" id=""/> 
                    <input type="time" class="form-control" value="" name="time" step="1" id=""/> 
                </div>
                
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <button class="btn btn-success browse-btn-fix" type="submit" >Submit</button>
            </div> 
        </div>
    </form>
</div>
    {% endblock main %}
    {% block scripts %}

    <script type="text/javascript">
        $("#addManagementHolder").hide();
        $("#removeManagementHolder").hide();
        function addManagement() {
            $("#addManagementHolder").show();
            var visible = $("removeManagementHolder").is(":hidden");
            console.log(visible);
            if (visible == false) {
                $("#removeManagementHolder").hide();
            }

        }
        function removeManagement() {
            $("#removeManagementHolder").show();
            var visible = $("addManagementHolder").is(":hidden");
            console.log(visible);
            if (visible == false) {
                $("#addManagementHolder").hide();
            }
        }
        function selectDeletion(m_id, m){
            let txt = `<input type="hidden" name="deletedManager" value="${m_id}">
                        <p>${m} selected</p>`;
            $("#selectDeleteHolder").html(txt);
        }
        function selectPerson(participant_id, participant_name, type){
            let txt = `<input type = "hidden" 
            name = "person_id" value = "${participant_id}"><p>${participant_name}
                selected</p>`;
            $("#selectedHolder").html(txt);
            $(".entityHolder").toggle();
        }
        function searchRemove(page=1) {
            var search_string = $('#deleteQuery').val();
            $.ajax({url: '/companies/{{company.id}}/changeManagement?type=search&delete=True&query=' + search_string +"&page="+page, async:false, success: function(result){

            $("#selectDeleteHolder").html(result);
            }});
        }
function search(page=1) {
    var search_string = $('#query_text').val();
    $.ajax({url: '/companies/{{company.id}}/changeManagement?type=search&query=' + search_string+"&page="+page, async:false, success: function(result){
        $("#searchHolder").html(result);
    }});
}
    </script>
    {% endblock scripts %}
