{% load extras %}
<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> -->
        <link href="/static/bootstrap.min.css" rel="stylesheet">

        <!-- CSS here -->
        <link rel="stylesheet" href="/static/styles.css">
        <style type="text/css" media="screen">
body {
    padding: 4%
}


        </style>
    </head>
    <body>
        <header>

        </header>
        <main>
            <h1>Create and Link Entities and People</h1>
            <div class="row">
                <div class="col-sm-12">
                    <a href="/" >Home</a> / Entities
                </div>
                {% if alert %}
                    <div class="row" id="alertHolder">
                        <div class="col-sm-5" style="padding-top: 20px">

                            <div class="alert alert-{{ alert_type }} alert-dismissible fade show" style="margin-bottom: 0px" role="alert">

                                {{alert}}

                            </div>
                        </div>
                        <div class="col-sm-7" style="padding-top: 20px">
                            <button type="button" class="btn btn-danger close alert-button">Close</button>

                        </div>
                    </div>
                {% endif %}

                <div class="col-sm-12" style="padding-top: 20px;">
                    <a class="btn btn-primary" role="button" href="/createPerson/">Create A Person</a>
                    <a class="btn btn-primary" role="button" href="/companies/create/">Create A Company</a>

                </div>
                <div class="col-lg-12" style="margin-bottom: 20px;">
                    <form action ="{% url 'entities' %}" method ="GET" />
                        <input type="hidden" name="search_type" value="search">
                        <div class="col-xs-12">
                            <br />
                            <div class="input-group">
                                <input type="text" autocomplete="off" class="form-control" name = "query" id = "search_string" value="{{query}}" placeholder="Search for..">
                                <span class="input-group-btn">
                                </span>
                            </div>
                        </div>

                        <div class="col-xs-12" style="margin-top: 15px;">
                            <button class="btn btn-success browse-btn-fix" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row">
<div class="row itemListContainer" id="peopleList">
                {% for e in entities %}
                    <div class="row listItem">
                        <div class="col-sm-4 itemInList">
                            {{e.0}}
                        
                        </div>
                        <div class="col-sm-8 buttonsInList" >
                            {% if e.1 == "person" %}
                                <a class="btn btn-primary" role="button" 
                                    href="/link/{{e.0.id}}/?type=person">Link to Company</a>
                                <a class="btn btn-primary" role="button" 
                                    href="/entities/?entity_id={{e.0.pk}}&type=person&edit=true">Edit</a>
                                <a class="btn btn-danger"  role="button" 
                                    href="/entities/?entity_id={{e.0.pk}}&type=person&delete=true">Delete</a>
                            {% else %}
                                <a class="btn btn-primary" role="button"
                                    href="/link/{{e.0.id}}/?type=company">Link to Company</a>
                                <a class="btn btn-primary" role="button" 
                                    href="/entities/?entity_id={{e.0.id}}&type=company&edit=true">Edit</a>
                                <a class="btn btn-danger"  role="button" 
                                    href="/entities/?entity_id={{e.0.pk}}&type=company&delete=true">Delete</a>
                            {% endif %}
                        
                        </div>
                    </div>
                {% endfor %}
            </div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="margin-top: 15px;">
                    <p>Filter by</p>
                    <button class = "btn btn-primary {% if filteredBy == "person" %}disabled{% endif %}" onclick = "filter('person')">People</button>
                    <button class = "btn btn-primary {% if filteredBy == "company" %}disabled{% endif %}"onclick = "filter('company')">Companies</button>
                    <a href = "/entities/" class = "btn btn-primary {% if filteredBy == False %}disabled{% endif %}">All</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                {% if page > 1 %}
                <button class="btn btn-primary" style="margin-top: 15px;" onclick="search({{page|changeValue:'-1'}}, {% if filteredBy %}'{{filteredBy}}'{% endif %})" type="button"><</button>
                {% else %}
                    <button class="btn btn-primary disabled" style="margin-top: 15px;"  type="button"><</button>
                {% endif %}
                {% if hasNextPage == True %}
                <button class="btn btn-primary" style="margin-top: 15px;" onclick="search({{page|changeValue:'1'}}, {% if filteredBy %}'{{filteredBy}}'{% endif %})" type="button">></button>
                    {% else %}
                    <button class="btn btn-primary disabled" style="margin-top: 15px;" type="button">></button>
                {% endif %}
                </div> 
                
                 
            </div>
            
        </main>
        <footer>

        </footer>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!--- <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script> -->
        <script type = "text/javascript" src="/static/jquery.min.js"></script>
        <script type = "text/javascript" src="/static/popper.1.14.7.js"></script>
        <script type = "text/javascript" src="/static/bootstrap.5.js"></script>
        <script type = "text/javascript">
            $(".close").click(function(){
                //$(".alert").hide();
                //$(".alert-button").hide();
                $("#alertHolder").remove();
            });
    function filter(type) {
        search_txt = $("#search_string").val();

        if (search_txt) {
        href = "/entities?"+"query="+search_txt+"&type="+type;
        } else {
        href = "/entities?type="+type;
        }
        console.log(href);
        window.location = href;

    }

    function search(page, filteredBy=false) {
        search_txt = $("#search_string").val();
        if (filteredBy != false) {
            var txt = "&type=" + filteredBy;
        } else {
            var txt = "";
        }
        if (search_txt) {
        href = "/entities?page="+page+"&query="+search_txt+txt;
        } else {
        href = "/entities?page="+page+txt;
        }
        window.location = href;
        console.log(filteredBy)
    }

            setTimeout(function(){
                $(".alert").css("background", "#f0f5f3");
                $(".alert").css("border-color", "black");
                $(".alert").css("color", "black");
            }, 7000);

            window.history.pushState(null, '', '/entities/');
            
        </script>
    </body>
</html>
