<style type="text/css" media="screen">
</style>

{% load extras %}
<div id="peopleHolder" class="row">

                                    <div class="input-group" style="padding-bottom: 20px">
					<input type="text" class="form-control" name = "query" id = "search_string" value="" placeholder="Search for..">
                                        <span class="input-group-btn">
                                        <button class="btn btn-success" onclick="search()">Go!</button>
                                        </span>
                                    </div>

    {% for person in people %}
        {% for sdl in shareDictList %} 
        {% if sdl ==  person.id %}
        {% for sc in shareDictList|get_item:sdl %}
    <div class="row personRow">

        <div class="col-sm-3">
            {{person}} {{sc}}
        </div>
        <div class="col-sm-9" style="padding-bottom: 20px;">

            <a class="btn btn-primary" role="button" href="{{person.id}}/{{sc.id}}">View Ledger</a>
            <button class="btn btn-primary" rol="button" onclick="select({{person.id}}, '{{person}}')">select</button> 
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
        {% endfor %}
</div>
<script type = "text/javascript">
    function select(person_id, person_name) {
        //$("#fromHolder").html('<input type="text" class = "form-control" name = "FromCompany" value = '+company_id+'>');
        $("#peopleHolder").html('<input type="hidden" name="toPerson", value='+person_id+'> <p>'+person_name+' </p>');
        return false;
    }
    function search() {
        var search_string = $("#search_string").val()
        $.ajax({url: '/ajax/personSearch/?direction='+direction+'&query='+search_string, async:false, success: function(result){
            $("#q3").html(result);
            return false;
        }});
        return false;

    }
</script>
