{% extends 'base.html' %}
{% load extras %}
{% block main %}

<h1>Create and Link Entities and People</h1>
<div class="row">
    <div class="col-sm-12">
        <a href="/" >Home</a> / Entities
    </div>
    {% if alert %}
    <div class="row" id="alertHolder">
        <div class="col-sm-5 col-9" style="padding-top: 20px">

            <div class="alert alert-{{ alert_type }} alert-dismissible fade show" style="margin-bottom: 0px" role="alert">

                {{alert}}

            </div>
        </div>
        <div class="col-sm-7 col-3" style="padding-top: 20px">
            <button type="button" class="btn btn-danger close alert-button">Close</button>

        </div>
    </div>
    {% endif %}

    <div class="col-sm-12" style="padding-top: 20px;">
        <a class="btn btn-primary" role="button" href="/createPerson/">Create A Person</a>
        <a class="btn btn-primary" role="button" href="/companies/create/">Create A Company</a>

    </div>
    <div class="col-lg-12" style="margin-bottom: 20px;">
        <form action ="{% url 'entities' %}" method ="GET" />
            <input type="hidden" name="search_type" value="search">
            <div class="col-xs-12">
                <br />
                    <input type="text" autocomplete="off" class="form-control" name = "query" id = "search_string" value="{{query}}" placeholder="Search for..">
            </div>

            <div class="col-xs-12" style="margin-top: 15px;">
                <button class="btn btn-success browse-btn-fix" type="submit">Search</button>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="row itemListContainer" id="peopleList">
        {% for e in entities %}
        <div class="row listItem">
            <div class="col-sm-7 itemInList itemHolder">
                {{e.0}}

            </div>
            <div class="col-sm-5 buttonsInList btnsFloatRightContainer btnsHolder" >
                {% if e.1 == "person" %}
                <a class="btn btn-danger"  role="button" 
                                           href="/entities/?entity_id={{e.0.pk}}&type=person&delete=true">Delete</a>
                <a class="btn btn-primary editBtn" role="button" 
                                                   href="/entities/?entity_id={{e.0.pk}}&type=person&edit=true">Edit</a>
                <a class="btn btn-primary linkBtn" role="button" 
                                                   href="/link/{{e.0.id}}/?type=person">Link to Company</a>
                {% else %}
                <a class="btn btn-danger"  role="button" 
                                           href="/entities/?entity_id={{e.0.pk}}&type=company&delete=true">Delete</a>
                <a class="btn btn-primary editBtn" role="button" 
                                                   href="/entities/?entity_id={{e.0.id}}&type=company&edit=true">Edit</a>
                <a class="btn btn-primary linkBtn" role="button"
                                                   href="/link/{{e.0.id}}/?type=company">Link to Company</a>
                {% endif %}

            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-sm-12" style="margin-top: 15px;">
        <p>Filter by</p>
        <button class = "btn btn-primary {% if filteredBy == "person" %}disabled{% endif %}" onclick = "filter('person')">People</button>
        <button class = "btn btn-primary {% if filteredBy == "company" %}disabled{% endif %}"onclick = "filter('company')">Companies</button>
        <a href = "/entities/" class = "btn btn-primary {% if filteredBy == False %}disabled{% endif %}">All</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        {% if page > 1 %}
        <button class="btn btn-primary" style="margin-top: 15px;" onclick="search({{page|changeValue:'-1'}}, {% if filteredBy %}'{{filteredBy}}'{% endif %})" type="button"><</button>
        {% else %}
        <button class="btn btn-primary disabled" style="margin-top: 15px;"  type="button"><</button>
        {% endif %}
        {% if hasNextPage == True %}
        <button class="btn btn-primary" style="margin-top: 15px;" onclick="search({{page|changeValue:'1'}}, {% if filteredBy %}'{{filteredBy}}'{% endif %})" type="button">></button>
        {% else %}
        <button class="btn btn-primary disabled" style="margin-top: 15px;" type="button">></button>
        {% endif %}
    </div> 


</div>

{% endblock main %}
{% block scripts %}

<script type = "text/javascript">

    $(document).ready(function() {
        var screenWidth = $(window).width(); // window height
        if (screenWidth < 900 && screenWidth > 560) {
            $(".itemsHolder").attr("class", "col-sm-12 itemInList")
            $(".btnsHolder").attr("class", "col-sm-12 btnsFloatRightContainer buttonsInList")
        }

    });
$(".close").click(function(){
    //$(".alert").hide();
    //$(".alert-button").hide();
    $("#alertHolder").remove();
});
function filter(type) {
    search_txt = $("#search_string").val();

    if (search_txt) {
        href = "/entities?"+"query="+search_txt+"&type="+type;
    } else {
        href = "/entities?type="+type;
    }
    console.log(href);
    window.location = href;

}

function search(page, filteredBy=false) {
    search_txt = $("#search_string").val();
    if (filteredBy != false) {
        var txt = "&type=" + filteredBy;
    } else {
        var txt = "";
    }
    if (search_txt) {
        href = "/entities?page="+page+"&query="+search_txt+txt;
    } else {
        href = "/entities?page="+page+txt;
    }
    window.location = href;
    console.log(filteredBy)
}

setTimeout(function(){
    $(".alert").css("background", "#f0f5f3");
    $(".alert").css("border-color", "black");
    $(".alert").css("color", "black");
}, 7000);

window.history.pushState(null, '', '/entities/');

</script>
{% endblock scripts %}
