{% extends 'base.html' %}
{% load extras %}
{% block main %}

<!--<style type="text/css">
div#entityContainer>div:nth-of-type(odd) {
    background: #f8f9fa;
}  -->
</style>
<div id="participantHolder" class="row">

    <form method="GET">
        <h1 style="text-align: center;">{{company}}</h1>
        <h3 style="text-align: center;">Shareholders Ledger</h3>
        <div class="row">

            <div class="col-sm-12" style = "padding-bottom: 20px">
                <a href="/" >Home</a> / <a href="/companies">Companies</a>
                / {{company}}
            </div>
        </div>
        <div class="input-group" style="padding-bottom: 20px">
            <input type="text" class="form-control" name = "query" id = "search_string" value="{{query}}" placeholder="Search for..">
            <span class="input-group-btn">
                <button class="btn btn-success" type="submit">Go!</button>
            </span>
        </div>

    </form>
    <div id="entityContainer" class="row itemListContainer">
        {% for entry in mixed2 %}
            <div class="row personRow listItem">
    
                <div class="col-sm-4 itemInList">
                    {{entry.entity}} {{entry.shareClass}}
                </div>
                <div class="col-sm-8 buttonsInList">
    
                        <a class="btn btn-primary" role="button" 
                            href="?type={{entry.type}}&id={{entry.entity.id}}&shareClass={{entry.shareClass.pk}}">View Ledger</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        {% if page > 1 %}

        <button class="btn btn-primary" style="margin-top: 20px;" onclick="search({{page|changeValue:'-1'}})" type="button"><</button>
        {% else %}
        <button class="btn btn-primary disabled" type="button" style="margin-top: 20px;"><</button>
        {% endif %}

        {% if hasNextPage == True %}
            <button class="btn btn-primary" style="margin-top: 20px;" onclick="search({{page|changeValue:'1'}})" type="button">></button>
        {% else %}
            <button class="btn btn-primary disabled" style="margin-top: 20px;">></button>
        {% endif %}
    </div> 
</div>
{% endblock main %}
{% block scripts %}
<script type = "text/javascript">

    function search(page) {
        search_txt = $("#search_string").val();
        if (search_txt) {
        href = "/companies/{{company.id}}/shareholdersLedger?page="+page+"&query="+search_txt;
        } else {
        href = "/companies/{{company.id}}/shareholdersLedger?page="+page;
        }
        console.log(href);
        window.location = href;
    }
</script>
{% endblock scripts %}
