{% extends 'base.html' %}
{% load extras %}
{% block main %}
</style>
<h1 style="text-align: center;">{{company}}</h1>
<h3 style="text-align: center;">Find a Transfer</h3>
<div class="row">
    <div class="col-sm-12">
        <a href="/" >Home</a> / <a href="/companies/">Companies</a> / Transfers
    </div>
</div>
 {% if alert %}
                    <div class="row" id="alertHolder">
                        <div class="col-sm-5" style="padding-top: 20px">

                            <div class="alert alert-{{ alert_type }} alert-dismissible fade show" style="margin-bottom: 0px" role="alert">

                                {{alert}}

                            </div>
                        </div>
                        <div class="col-sm-7" style="padding-top: 20px">
                            <button type="button" class="btn btn-danger close alert-button">Close</button>

                        </div>
                    </div>
                {% endif %}

<div class="row">
    <div class="col-lg-12">
        <form method ="GET" />
            <input type="hidden"  name="search_type" value="search">
            <div class="col-xs-12">
                <br />
                <div class="input-group">
                    <input type="text" style="margin-bottom: 20px"class="form-control" name = "query" id = "search_string" value="{{query}}" placeholder="Search for..">
                    <span class="input-group-btn">
                        <button class="btn btn-success browse-btn-fix" type="submit">Go!</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>

<form method="post">
    <input type="hidden" value="" name="selectedTransfer" id="selectedTransfer"/>
    <input type="hidden" value="" name="selectedShareType" id="selectedShareType"/>
    {% csrf_token %}
    <div class="row">
        <div class="row itemListContainer" id="transferContainer">
            {% for transfer in transfers %}

            <div class="row listItem">

                <div class="col-sm-9 itemInList">
                    {{transfer}}

                </div>
                <div class="col-sm-3 buttonsInList">
                    <button type="button" class="deleteBtn btn btn-primary" 
                                          transfer = "{{transfer.str}}"
                                          transferId = "{{transfer.id}}"
                                          transferShareClassId = "{{transfer.ShareClass.id}}"
                                          >Delete</button>

                </div>

            </div> 
            {% endfor %}

        </div>
    </div>	
    <div class="row" id="pagenationHolder">
        <div class="col-sm-3">
            {% if page > 1 %}

            <button class="btn btn-primary" style="margin-top: 20px;" onclick="search({{page|changeValue:'-1'}})" type="button"><</button>
            {% else %}
            <button class="btn btn-primary disabled" type="button" style="margin-top: 20px;"><</button>
            {% endif %}

            {% if hasNextPage == True %}
            <button class="btn btn-primary" style="margin-top: 20px;" onclick="search({{page|changeValue:'1'}})" type="button">></button>
            {% else %}
            <button class="btn btn-primary disabled" style="margin-top: 20px;">></button>
            {% endif %}
        </div> 
    </div>
</form>
{% endblock main %}
{% block scripts %}
<script type = "text/javascript">
            $(".close").click(function(){
                //$(".alert").hide();
                //$(".alert-button").hide();
                $("#alertHolder").remove();
            });

    $(".deleteBtn").click(function(e) {
        var transfer = $(this).attr("transfer");
        var transferId = $(this).attr("transferId");
        var transferShareClassId = $(this).attr("transferShareClassId");
        selectTransfer(transfer, transferId, transferShareClassId);
    });
    $("#deleteButtonHolder").hide();
function selectTransfer(text, id, share_type){
    $("#pagenationHolder").hide();
    $("#deleteButtonHolder").show();
    console.log(text);
    let txt = `<div class="row listItem"><div class="col-lg-12 itemInList">${text} selected</div></div>

        <div class="row" id="deleteButtonHolder">
            <div class="col-lg-12">
                <hr>
                <button type="submit" class="btn btn-danger">Delete</button> 
            </div> 
        </div>
            `;
    $("#selectedTransfer").val(id);
    $("#selectedShareType").val(share_type);
    $("#transferContainer").html(txt);
}

function search(page) {
    search_txt = $("#search_string").val();
    if (search_txt) {
        href = "/companies/{{company.id}}/transfers?page="+page+"&query="+search_txt;
    } else {
        href = "/companies/{{company.id}}/transfers?page="+page;
    }
    console.log(href);
    window.location = href;
}

$(".close").click(function(){
    $(".alert").hide();
    $(".alert-button").hide();
});

</script>
{% endblock scripts %}
