{% extends 'base.html' %}
{% block main %}
<style type="text/css">
div.transferContainer>div:nth-of-type(odd) {
    background: #f8f9fa;
} 
</style>
<h1>Transfer Deletion</h1>
<div class="row">
    <div class="col-sm-12">
        <a href="/" >Home</a> / <a href="/companies/">Companies</a> / Transfers
    </div>



</div>
<div class="row">
    <div class="col-sm-12">
        <hr>
        <h3>These Transfers Will be Deleted</h3>

    </div> 
</div>

<div class="row transferContainer" id="transferContainer">
    {% for transfer in transfers %}

        <div class="row">

            <div class="col-sm-9">
                {{transfer}}

            </div>
            <div class="col-sm-3" style="padding-bottom: 10px;">
            </div>

        </div>
    {% endfor %}
</div>	
<div class="row">
    <div class="col-lg-12">
        <hr>

        <div id="formHolder" class="name">
            <form method="post">
                {% csrf_token %}
                <label for="cars">Choose a car:</label>
                <select name="confirm" id="cars" multiple>
                    {% for transfer in transfers %}
                        <option selected value="{{transfer.id}}"></option>
                    {% endfor %}
                </select>
                <br><br>

        </div>
        <button type="submit" class="btn btn-danger">Delete</button> 
            </form>
    </div> 
</div>
{% endblock main %}
{% block scripts %}
<script type = "text/javascript">
    function selectTransfer(text, id, share_type){
        console.log(text);
        let txt = `<div class="col-lg-12">${text} selected</div>`;
        $("#selectedTransfer").val(id);
        $("#selectedShareType").val(share_type);
        $("#transferContainer").html(txt);
    }
$("#formHolder").toggle()

</script>
{% endblock scripts %}
